<div class="container w-50 my-5">
  <h2>Información Personal</h2>

  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="aboutData" novalidate>
      <div class="form-group">
        <label>Correo Electrónico:</label>
        <input class="form-control" formControlName="email" readonly>
      </div>

      <div class="form-group">
        <label>Nombre:</label>
        <input class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label>Tipo de Identificación:</label>
        <select class="form-control" formControlName="idType">
          <option *ngFor="let idType of idTypes" [value]="idType">{{idType}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Número de Identificación:</label>
        <input class="form-control" formControlName="idNumber">
      </div>

      <div class="form-group">
        <label>Fecha de Nacimiento:</label>
        <input class="form-control" formControlName="birthday">
      </div>
    </div>

    <div formGroupName="addressData" novalidate>
      <div class="form-group">
        <label>Departamento:</label>
        <input class="form-control" formControlName="state">
      </div>

      <div class="form-group">
        <label>Ciudad:</label>
        <input class="form-control" formControlName="city">
      </div>

      <div class="form-group">
        <label>Dirección:</label>
        <input class="form-control" formControlName="address">
      </div>
    </div>

    <div formGroupName="contactData" novalidate>
      <div class="form-group">
        <label>Teléfono Fijo:</label>
        <input class="form-control" formControlName="homePhone">
      </div>

      <div class="form-group">
        <label>Teléfono Celular:</label>
        <input class="form-control" formControlName="cellPhone">
      </div>
    </div>

    <button type="submit" class="btn btn-default">Actualizar Información</button>
  </form>
</div>